#live-auctions {
    min-height: 30vh;
    margin: 10rem 0 0 0;
  }
  
  .auctions__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  
  .auctions__title {
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem 0.5rem 2rem;
    background-color: var(--secondary-background-color);
    border-radius: 1rem 1rem 0 0;
  }
  
  .auctions__title h2 {
    color: var(--light-font-color);
    font-size: 4rem;
  }
  
  .auctions__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-background-color);
    border-radius: 1.5rem;
  }
  
  .auctions__items::before {
    content: url(../../assets/axies-images/03_Live\ Auctions/circle-chevron-left-solid.svg);
    cursor: pointer;
    display: inline-block;
    min-width: 5rem;
    max-width: 10rem;
    position: relative;
    left: 1rem;
  }
  
  .auctions__items::after {
    content: url(../../assets/axies-images/03_Live\ Auctions/circle-chevron-right-solid.svg);
    cursor: pointer;
    display: inline-block;
    min-width: 5rem;
    max-width: 10rem;
    position: relative;
    left: -1rem;
  }
  
  .auctions__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 2rem;
    color: var(--light-font-color);
    background-color: var(--card-background-color);
    padding: 2rem 1rem;
    border-radius: 2rem;
    transition: all 0.2s linear;
  }
  
  .auctions__creator img {
    border-radius: 2rem;
    max-width: 5rem;
  }
  
  .auctions__creator {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }
  
  .auctions__creator > * {
    margin: 1rem;
  }
  
  .item__wrapper--1 {
    background-image: url(../../assets/axies-images/03_Live\ Auctions/card-item8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 25rem;
    min-height: 25rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 1rem 0;
  }
  
  .item__wrapper--2 {
    background-image: url(../../assets/axies-images/03_Live\ Auctions/image-box-21.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 25rem;
    min-height: 25rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-block-end: 1rem;
  }
  
  .item__wrapper--3 {
    background-image: url(../../assets/axies-images/03_Live\ Auctions/image-box-11.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 25rem;
    min-height: 25rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-block-end: 1rem;
  }
  
  .item__wrapper--4 {
    background-image: url(../../assets/axies-images/03_Live\ Auctions/image-box-10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 25rem;
    min-height: 25rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-block-end: 1rem;
  }
  
  .line {
    min-width: 96%;
    min-height: 2%;
    border: 1px solid rgb(45, 43, 48);
    margin: 1rem;
  }
  
  .item__countdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color);
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    margin: 0 0 0.5rem 0;
  }
  
  .slider {
    padding: 0.5rem 2rem 1rem 2rem;
    background-color: var(--secondary-background-color);
    border-radius: 0 0 1rem 1rem;
  }
  
  .explore {
    position: relative;
  
    left: 50rem;
    max-width: 15rem;
    top: -2rem;
  }
  
  .bid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 1.2rem;
    background-color: var(--primary-color);
    position: relative;
    top: -5rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }
  
  .bid i {
    margin-inline-end: 0.5rem;
    color: var(--accent-color);
  }
  
  .bid p {
    color: var(--font-light-color);
  }
  
  .auctions__item:hover {
    transform: translateY(-2rem);
    box-shadow: 0.5rem 3em 10rem 1rem rgba(0, 0, 0, 0.8);
  }
  
  .auctions__item:hover .bid {
    opacity: 1;
  }
  