.hero__wrapper{
    display: flex;
justify-content: center;
align-items: center;
margin: 5rem;
width: 100%;
height: 40%;
}

.hero__item--left{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.hero__item--left img{
    width: 80%;
    border-radius: 1rem;
}

.hero__item--right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 44%;
    /* height: 100%; */
}


.item--right__title{
width: 90%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}


.item--right__title h2{
    font-size: var(--font-l);
    color: var(--font-primary-color);
    margin: 1rem 0;
    width: 90%;
}

.item--right__more{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 2rem 0;
    width: 90%;
}

.likes-and-watches{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    font-size: var(--font-xs)
}

.likes {
    color: var(--font-primary-color);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0.5rem 0.8rem;
    position: relative;
    cursor: pointer;
    background-color: var(--accent-color);
    border-radius: 2rem;
    
    
  }
  
  .likes i {
    color: var(--font-primary-color);
    margin: 0 0.5rem 0 0;
  }

  .watches{
    color: var(--font-primary-color);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0.5rem 0.8rem;
    position: relative;
    cursor: pointer;
    background-color: var(--accent-color);
    border-radius: 2rem;
    margin: 0 1rem 0 0;
  }

  .watches i {
    color: var(--font-primary-color);
    margin: 0 0.5rem 0 0;
  }




.share-and-more{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.share-and-more >*{
    margin: 0.5rem;
}

.share{
    color: var(--font-primary-color);
    background-color: var(--card-background-color);
    padding: 0.8rem 1rem 0.8rem 0.8rem;
    border-radius: var(--circle-radius);
    width: 3rem;
}

.more{
    color: var(--font-primary-color);
    background-color: var(--card-background-color);
    padding: 0.8rem 1rem 0.8rem 0.8rem;
    border-radius: var(--circle-radius);
    width: 3rem;
}

.item--right__avatars{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.owner{
    background-color: var(--card-background-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin: 0 2rem 0 0; */
    padding: 0.8rem;
    border-radius: var(--card-radius);
    width: 49%;
}

.owner__details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
    
.owner p{
    color: var(--font-accent-color);
    margin: 0.2rem 0;
}

.owner h4{
    color: var(--font-primary-color);
}

.owner img{
    height: var(--avatar-size);
    border-radius: var(--avatar-radius);
    margin: 0 2rem 0 0;
}

.creator{
    background-color: var(--card-background-color);
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    padding: 0.8rem;
    border-radius: var(--card-radius);
    width: 49%
}

.creator p{
    color: var(--font-accent-color);
    margin: 0.2rem 0;
}

.creator h4{
    color: var(--font-primary-color);
}

.creator img{
    height: var(--avatar-size);
    border-radius: var(--avatar-radius);
    margin: 0 2rem 0 0;
    
}

.item__text{
    color: var(--font-accent-color);
    width: 80%;
    padding: 2rem 0;
}

.item-text p{
    width: 5ch;
    overflow: visible
}

.bid__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.current-bid{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--card-background-color);
    padding: 1rem 0.5rem;
    width: 49%;
    border-radius: var(--card-radius);
}

.current-bid h4{
    color: var(--font-accent-color);
}


.bid-price{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bid-price h3{ color: var(--font-primary-color);}
.bid-price h5{ color: var(--font-accent-color);}


.countdown{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--card-background-color);
    padding: 1rem 0.5rem;
    width: 49%;
    border-radius: var(--card-radius);
}

.countdown h4{
        color: var(--font-accent-color);
}

.countdown h3{
    color: var(--font-primary-color);
}

.long-btn{
    width: 39%;
    margin: 2rem 0;
}

.btn__long{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn__long p{
      width: 8rem;
      margin: 0 0.5rem;
  }